[submodule "Backend/Scripts/ultimateorion-vanilla"]
	path = Backend/Scripts/ultimateorion-vanilla
	url = https://github.com/ultimateorion/ultimateorion-vanilla
[submodule "Backend/Scripts/ultimateorion-core"]
	path = Backend/Scripts/ultimateorion-core
	url = https://github.com/ultimateorion/ultimateorion-core
