{
	"Common": {
		"Debug": true
	},
	"Http": {
		"Port": "5000",
		"UseSSL": false
	},
	"SessionManager": {
		"GuestTimeout": "60000"
	},
	"Sql": {
		"Host": "localhost",
		"Database": "ultimateorion",
		"Username": "",
		"Password": ""
	}
}
