{
	"Common": {
		"Debug": true
	},
	"Http": {
		"Port": "5000",
		"UseSSL": false
	},
	"SessionManager": {
		"GuestSessionTimeout": "60",
		"UserSessionTimeout": "36000"
	},
	"Sql": {
		"Host": "localhost",
		"Database": "ultimateorion",
		"Username": "",
		"Password": "",
		"LowerCaseTableNamesWorkaround": false
	},
	"Auth": {
		"MinPasswordLength": 6,
		"MaxPasswordLength": 21,
		"MaxUsernameLength": 21
        },
	"Crypto": {
		"SaltRounds": 10
	}
}
